<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Vue</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="app" class="flex flex-col flex-wrap m-5 gap-5 justify-center">
      <div class="form-inline">
        <div class="flex flex-col">
          <div class="flex items-center">
            <div class="w-[50%]">
              <label for="" class="font-weight-bold mr-2">Max</label>
              <input type="number" class="form-control" v-model="maxPrice" />
            </div>
            <div class="flex justify-end w-[50%]">
              <div class="drawer drawer-end flex justify-end items-center">
                <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                <div class="drawer-content">
                  <!-- Page content here -->
                  <label
                    for="my-drawer-4"
                    class="drawer-button flex cursor-pointer">
                    <span class="text-4xl">&#128722;</span
                    ><span class="ml-[-25px] badge badge-accent"
                      >{{ cart.length }}</span
                    >
                  </label>
                </div>
                <div class="drawer-side z-50">
                  <label
                    for="my-drawer-4"
                    aria-label="close sidebar"
                    class="drawer-overlay"></label>
                  <ul
                    class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                    <!-- Sidebar content here -->
                    <li v-for="item in cart" :key="item.id">
                      <a> {{ item.title }} </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <input
            type="range"
            min="0"
            max="1000"
            class="range mt-2"
            v-model="maxPrice" />
        </div>
      </div>
      <div class="flex flex-wrap justify-center gap-5">
        <div v-for="prod in item" :key="prod.id">
          <div v-if="prod.price <= maxPrice">
            <div class="card card-compact w-96 bg-base-100 shadow-xl">
              <figure>
                <img :src="prod.thumbnail" alt="Shoes" class="h-[250px]" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">{{ prod.title }}</h2>
                <p>{{ prod.description }}</p>
                <span>$ {{ prod.price }}</span>
                <div class="card-actions justify-end">
                  <!-- <button v-on:click="cart.push(prod)" class="btn btn-primary">Buy Now</button> -->
                  <button v-on:click="addItem(prod)" class="btn btn-primary">
                    Buy Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div v-for="prod in item" :key="item.id">
        <p>{{ prod.title }}</p>
      </div> -->
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const { createApp, ref, reactive, onMounted, toRefs } = Vue;

      createApp({
        setup() {
          const data = reactive({
            maxPrice: 1000,
            item: [],
            cart: [],
          });

          const products = async () => {
            const res = await axios.get("https://dummyjson.com/products");
            data.item = res.data.products;
          };

          const addItem = (items) => {
            console.log("before", data.cart);
            data.cart.push(reactive(items));
            // data.cart.push({ ...items, key: data.cart.length });

            // console.log(items.title);
            console.log("after", data.cart);
          };

          onMounted(products);

          return {
            ...toRefs(data),
            addItem,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
